<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head', {title: 'Nombre del producto' }) %>
            <link rel="stylesheet" href="/styles/productCreate.css">
    </head>

<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>    
    <section class="main__container"> 
        <div class="inputs__container">
            <div class="name__container">
                <label for="">Input</label>
                <input type="text">
            </div>
            <div class="winery__container">
                <label for="">Input</label>
                <input type="text">
            </div>
            <div class="price__container">
                <label for="">Input</label>
                <input type="text" name="" id="">
            </div>
            <div class="class__container">
                <label for="">Input</label>
                <input type="text">
            </div>
            <div class="class__container">
                <label for="">Input</label>
                <input type="text">
            </div>
            <div class="class__container">
                <label for="">Input</label>
                <input type="text">
            </div>
            <div class="button__container">
                <button>Input</button>
            </div>
        </div>
    </section>

        <%- include('../partials/footer') %>

            <script src="/javascripts/utilities.js"></script>
</body>

</html>