<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head', {title: 'Nombre del producto' }) %>
            <link rel="stylesheet" href="/styles/productCreate.css">
    </head>

<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>    
    <section class="main__container"> 
        <form class="inputs__container" action="/products" method="POST" enctype="multipart/form-data">
            <div class="data__container">
                <label for="name">Name</label>
                <input id="name" name="name" type="text">
            </div>
            <div class="data__container">
                <label for="price">Price</label>
                <input id="price" name="price" type="number">
            </div>
            <div class="data__container">
                <label for="brand">Brand</label>
                <input id="brand" name="brand" type="text" name="" id="">
            </div>
            <div class="data__container">
                <label for="grape">Grape</label>
                <input id="grape" name="grape" type="text">
            </div>
            <div class="data__container">
                <label for="region">Region</label>
                <input id="region" name="region" type="text">
            </div>
            <div class="data__container image">
                <label for="image">Image</label>
                <input id="image" name="image" type="file">
            </div>
            <div class="button__container">
                <button type="submit">Create!</button>
            </div>
        </form>
    </section>

        <%- include('../partials/footer') %>

            <script src="/javascripts/utilities.js"></script>
</body>

</html>