<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/styles/productCart.css">
        <title>Document</title>
</head>

<body>
    <div class="section--nav">
        <%- include('../partials/navbar') %>
    </div>
    <div>
        <!-- card display -->
        <section class="card__main-container">
            <div class="heading__main-container">
                <h1 class="heading__main">Cart</h1> 
            </div>
            <article class="card__individual-container">
                <div class="card__img">
                    <img src="./images/rutini.png" alt="">
                </div>
                <div class="card__description">
                    <h2>Description</h2>
                    <h2>Price</h2>
                    <div><h2>Counter</h2></div>
                </div>
            </article>
            <article class="card__individual-container">
                <div class="card__img">
                    <img src="./images/rutini.png" alt="">
                </div>
                <div class="card__description">
                    <h2>Description</h2>
                    <h2>Price</h2>
                    <div><h2>Counter</h2></div>
                </div>
            </article>
            <article class="card__individual-container">
                <div class="card__img">
                    <img src="./images/rutini.png" alt="">
                </div>
                <div class="card__description">
                    <h2>Description</h2>
                    <h2>Price</h2>
                    <div><h2>Counter</h2></div>
                </div>
            </article>
        </section>
        <!-- total card -->
        <section class="total__main-container">

        </section>
    </div>

    <script src="/javascripts/utilities.js"></script>
</body>

</html>