<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: 'Nombre del producto' }) %>
        <link rel="stylesheet" href="/styles/shopAll.css">
</head>

<body>
    <%- include('../partials/navbar') %>

        <div class="hero--padding">
            <h1 class="title">Shop All</h1>
            <div class="section--cards section--list">
                <% products.forEach((product)=> { %>
                    <%- include('../partials/card', { product }) %>
                        <% }); %>
            </div>
        </div>

        <%- include('../partials/footer') %>

            <script src="/javascripts/utilities.js"></script>
</body>

</html>