@import url('../utilities/vars.css');

.btn {
  display: inline-block;
  font-family: var(--secondary-font);
  font-size: var(--small-body);
  font-weight: var(--book);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 1rem 2.5rem;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--black);
  color: var(--white);
  transition: background-color 300ms;
}

.btn--primary:hover {
  background-color: var(--bronze);
}

.btn--interactive {
  background-color: var(--interactive);
  color: var(--white);
  transition: opacity 300ms;
}

.btn--interactive:hover {
  background-color: var(--interactive);
  opacity: 0.9;
}

.mg-top {
  margin-top: 1rem;
}

.btn--secondary {
  background-color: var(--light-grey);
  color: var(--black);
  transition: opacity 300ms;
}

.btn--secondary:hover {
  background-color: var(--light-grey);
  opacity: 0.9;
}

.hero--padding {
  background-color: var(--cream);
  padding: 1.25rem 1.25rem 3rem;
}

.section--padding {
  background-color: var(--cream);
  padding: 3rem 1.25rem;
}

.section--cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .hero--padding {
    padding: 1.875rem 3.75rem 3.5rem;
  }

  .section--padding {
    padding: 3.75rem;
  }

  .section--cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1280px) {
  .hero--padding {
    padding: 3.75rem 6.25rem 3.5rem;
  }

  .section--padding {
    padding: 4rem 6.25rem;
  }

  .btn--card {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .section--cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
