<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head', {title: 'Page not found' }) %>
        <link rel="stylesheet" href="/styles/404.css">
    </head>

    <body>
        <div class="container">
            <h1 class="title">404</h1>
            <p class="subtitle">The page you are looking for doesn't exist or has been moved</p>
            <a href="/" class="btn btn--primary">Go back home</a>
        </div>
    </body>

</html>