<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/styles/index.css">
        <script src="https://kit.fontawesome.com/e43b31c5be.js" crossorigin="anonymous"></script>
        <title>Document</title>
</head>

<body>
    <div class="section--nav">
        <%- include('./partials/navbar') %>
    </div>

    <script src="/javascripts/utilities.js"></script>
</body>
    <footer>
        <%- include('./partials/footer') %>    
    </footer>

</html>