<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/styles/index.css">
        <title>Document</title>
</head>

<body>
    <div class="section--nav">
        <%- include('./partials/navbar') %>
    </div>

    <script src="/javascripts/utilities.js"></script>
</body>

</html>