<div class="wine_card">
    <div class="img-rating">
        <img src="wine.png" alt="">
        <div class="rating">
                <p>4.5</p> 
                <p>#'s Rating</p>
        </div>
    </div>
    <div class="wine-info">
            <p>Wine name</p>
            <p>Wine class</p>
            <p>Price</p>
    </div>
</div>
