

<section class="sect2rating">
    <div class="card-wine-info">
        <div class="img-rating">
            <img src="/images/bonanza cabernet sauvignon .png">
            <div class="rating">
                <p class="points">4.7</p> 
                <p class="num_rating">3880 Rating</p>
                <button class="btn_price">$19.9</button>
            </div>
        </div>
        <div class="wine-info">
            <p>Wine name</p>
            <p>Wine class</p>
            
        </div>
    </div>
    <div class="card-wine-info">
        <div class="img-rating">
            <img src="/images/bonanza cabernet sauvignon .png" alt="">
            <div class="rating">
                <p class="points">4.5</p> 
                <p class="num_rating">3990 Rating</p>
                <button class="btn_price">$19.9</button>
            </div>
        </div>
        <div class="wine-info">
            <p>Wine name</p>
            <p>Wine class</p>
            
        </div>
    </div>
    <div class="card-wine-info">
        <div class="img-rating">
            <img src="/images/bonanza cabernet sauvignon .png"alt="">
            <div class="rating">
                <p class="points">4.4</p> 
                <p class="num_rating">2500 Rating</p>
                <button class="btn_price">$19.9</button>
            </div>
        </div>
        <div class="wine-info">
            <p>Wine name</p>
            <p>Wine class</p>
            
        </div>
    </div>
    <div class="card-wine-info">
        <div class="img-rating">
            <img src="/images/bonanza cabernet sauvignon .png"alt="">
            <div class="rating">
                <p class="points">4.4</p> 
                <p class="num_rating">6880 Rating</p>
                <button class="btn_price">$19.9</button>
            </div>
        </div>
        <div class="wine-info">
            <p>Wine name</p>
            <p>Wine class</p>
            
        </div>
    </div>
</div>
</section>