<!-- <div class="card">
    <div class="img-rating">
        <img src="/images/bonanza cabernet sauvignon .png" alt="">
        <div class="rating">
            <p class="points">4.4</p>
            <p class="num_rating">6880 Rating</p>
            <button class="btn_price">$19.9</button>
        </div>
    </div>
    <div class="wine-info">
        <p>Wine name</p>
        <p>Wine class</p>
    </div>
</div> -->

<div class="card">
    <div class="card__media">
        <div class="card__image">
            <img src="/images/products/6_id_chardonnay.png" alt="" srcset="">
        </div>
        <div class="card__cta">
            <div class="card__rating">
                <p class="card__rating-points">4.4</p>
                <p class="card__rating-qty">3880 ratings</p>
            </div>
            <a href="#" class="btn btn--primary">$37.98</a>
        </div>
    </div>
    <div class="card__copy">
        <p class="card__wine-brand">Rombauer Vineyards</p>
        <p class="card__wine-name">Chardonnay 2021</p>
    </div>
</div>