<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8bf744625d.js" crossorigin="anonymous"></script>
    <title>Wine card</title>
</head>
<body>

<div class="card-wine-info">
    <div class="img-rating">
        <img src="/images/ps-garcia-vigno-carignan.png" alt="">
        <div class="rating">
                <p>4.5</p> 
                <p>#'s Rating</p>
        </div>
    </div>
    <div class="wine-info">
            <p>Wine name</p>
            <p>Wine class</p>
            <p>Price</p>
    </div>
</div>
    
</body>
</html>