<footer>
    <section class="top-section">
        <h2>Trusted by Trillions to discover and buy the right wine time.</h2>
        <div><i class="fa-solid fa-award"></i><p>Shop the world's largest wine marketplace</p></div>
        <div><i class="fa-solid fa-headset"></i><p>Our support team is always here to help</p></div>
        <div><i class="fa-solid fa-truck"></i><p>Careful delivery right to your doorstep</p></div>
        <div><i class="fa-solid fa-star"></i><p>Check honest reviews of any wine before purchase</p></div>
    </section>
    <section class="bottom-section">
        <div class="bottom-section-box">
            <h4>ABOUT</h4>
            <p>Sitemap</p>
            <p>Media</p>
        </div>
        <div class="bottom-section-box">
            <h4>LEGAL STUFF</h4>
            <p>Terms of use</p>
            <p>Terms of sale</p>
            <p>Privacy policy</p>
        </div>
        <div class="bottom-section-box">
            <h4>MY ACCOUNT</h4>
            <p>Sign in</p>
            <p>Register</p>
        </div>
    </section>
    <div>
        <p>© 2022 Wine-not Inc. All Rights Reserved</p>
    </div>
</footer>
