<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8bf744625d.js" crossorigin="anonymous"></script>
    <title>Footer</title>
</head>
<body>
       
<footer>
    <section>
        <h2>Trusted by Trillions to discover and buy the right wine time.</h2>
        <div><p>Shop the world's largest wine marketplace</p></div>
        <div><p>Our support team is always here to help</p></div>
        <div><p>Careful delivery right to your doorstep</p></div>
        <div><p>Check honest reviews of any wine before purchase</p></div>
    </section>
    <section>
       <div>
        <h4>ABOUT</h4>
        <div><p>Sitemap</p></div>
        <div><p>Media</p></div>
    </div>
    <div>
        <h4>LEGAL STUFF</h4>
        <div><p>Terms of use</p></div>
        <div><p>Terms of sale</p></div>
        <div><p>Privacy policy</p></div>
    </div>
    <div>
        <h4>MY ACCOUNT</h4>
        <div><p>Sign in</p></div>
        <div><p>Register</p></div>
    </div>
    </section>
    <div>
        <p>© 2022 Wine-not Inc. All Rights Reserved</p>
    </div>
</footer>
 
    
</body>
</html>