<section class="section--padding top-section">
    <h2 class="top-section-tittle">Trusted by Trillions to discover and buy the right wine time.</h2>
    
    <div class="icons-container">
        <div class="icons-text">
            <div class="icon-container">
                <i class="fa-solid fa-award"></i>
            </div>
            <p>Shop the world's largest wine marketplace</p>
        </div>
        <div class="icons-text">
            <div class="icon-container">
                <i class="fa-solid fa-headset"></i>
            </div>
            <p>Our support team is always here to help</p>
        </div>
        <div class="icons-text">
            <div class="icon-container">
                <i class="fa-solid fa-truck"></i>
            </div>
            <p>Careful delivery right to your doorstep</p>
        </div>
        <div class="icons-text">
            <div class="icon-container">
                <i class="fa-solid fa-earth-americas"></i>
            </div>
            <p>Check honest reviews of any wine before purchase</p>
        </div>
    </div>
    
</section>

<footer class="footer">
    <a class="footer-tittle" href="#">Wine-not?</a>
        <div class="groups-container">
            <div class="group">
                <h4 class="group-tittle">SHOP</h4>
                <ul class="group-links">
                    <li class="links"><a href="">Cabernet sauvignon</a></li>
                    <li class="links"><a href="">Malbec</a></li>
                    <li class="links"><a href="">Merlot</a></li>
                    <li class="links"><a href="">Chardonnay</a></li>
                </ul>
            </div>
            <div class="group">
                <h4 class="group-tittle">INFORMATION</h4>
                <ul class="group-links">
                    <li class="links"><a href="">Account</a></li>
                    <li class="links"><a href="">Register</a></li>
                    <li class="links"><a href="">Login</a></li>
                    <li class="links"><a href="">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="group">
                <h4 class="group-tittle">SOCIALS</h4>
                <ul class="group-links">
                    <li class="links"><a href="">Instagram</a></li>
                    <li class="links"><a href="">Facebook</a></li>
                </ul>
            </div>
            <!-- <div>
                <p>© 2022 Wine-not Inc. All Rights Reserved</p>
            </div> -->
        </div>

</footer>
