<div class="navbar__menu-icon icon__container">
    <i class="fa-solid fa-bars"></i>
</div>

<nav class="navbar__desktop-menu">
    <ul class="desktop-menu__items">
        <li class="desktop-menu__links"><a href="#">Shop all</a></li>
        <li class="desktop-menu__links"><a href="#">Offers</a></li>
        <li class="desktop-menu__links"><a href="#">Selection</a></li>
    </ul>
</nav>

<a href="/" class="navbar__logo">Wine-not?</a>

<div class="mobile-menu__icons">
    <div class="mobile-menu__item icon__container">
        <a href="/products/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <div class="mobile-menu__item icon__container">
        <a href="/users/login"><i class="fa-solid fa-user"></i></a>
    </div>
</div>

<div class="mobile-menu">
    <div class="mobile-menu__close icon__container">
        <i class="fa-solid fa-xmark"></i>
    </div>

    <nav class="mobile-menu__nav">
        <ul class="mobile-menu__items">
            <li class="mobile-menu__links"><a href="#">Shop all</a></li>
            <li class="mobile-menu__links"><a href="#">Offers</a></li>
            <li class="mobile-menu__links"><a href="#">Selection</a></li>
        </ul>
    </nav>
</div>