@import url('./partials/navbar.css');
@import url('../utilities/vars.css');
@import url('../styles/partials/footer.css');


.main__container {
    width: 100%;    
    display: flex;   
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.inputs__container {
    margin: 20px;
    background-color: var(--light-grey);
    padding: 35px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    align-self: center;
    width: 80%;    
}

.inputs__container::before {
    content: 'New Product';
    font-size: 2rem;
    font-family: var(--secondary-font);
    margin-bottom: 45px;
}

.inputs__container  div {
    margin-bottom: 20px;
    width: 90%;
}

.inputs__container div label {
    font-size: var( --large-body);
    margin-bottom: 10px;
    margin-left: 4px;
}
.inputs__container div input {
    border: none;
    padding: 0.6rem;
    border-radius: 7px;
}



.data__container{
    display: flex;
    flex-direction: column;
}
.data__container label {
    font-family: var(--secondary-font);
}

.button__container {
    margin-top: 25px;
    text-align: center;
}
.button__container > button {
    color: white;
    background-color: var(--interactive);
    border: none;
    border-radius: 6px;
    font-size: 1.5rem ;
    font-family: var(--secondary-font);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image input {
    font-family: var(--secondary-font);
}

