@import url('./utilities/utilities.css');
@import url('./partials/navbar.css');
@import url('./partials/card.css');
@import url('./partials/footer.css');

.title {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: var(--book);
  font-size: var(--main-heading-tb);
  margin-bottom: 2rem;
}
