@import url('../utilities/vars.css');
@import url('../utilities/utilities.css');

.card {
  background-color: var(--light-grey);
  border-radius: 16px;
  padding: 1.875rem;
}

.card__media {
  display: flex;
}

.card__image {
  width: 40%;
  height: 18rem;
  /* margin-bottom: 1.8rem; */
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__cta {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15% 0;
}

.card__rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__rating-points {
  font-family: var(--secondary-font);
  font-weight: var(--regular);
  font-size: var(--ratings);
}

.card__rating-qty {
  font-family: var(--secondary-font);
  font-size: var(--small-body);
  font-weight: var(--regular);
  color: var(--disabled);
}

.card__copy {
  margin-top: 1.5rem;
  font-family: var(--secondary-font);
}

.card__wine-brand {
  font-size: var(--body);
  font-weight: var(--book);
}

.card__wine-name {
  margin-top: 5px;
  font-size: var(--large-body);
  font-weight: var(--medium);
}

@media only screen and (min-width: 1280px) {
  .card {
    max-width: 350px;
  }
  .card__media {
    gap: 10px;
  }
  .card__copy {
    margin-top: 0.5rem;
  }
}

/* .rating {
  display: flex;
  flex-wrap: wrap;
}

.img-rating {
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
  height: 90%;
}

.img-rating img {
  width: 35%;
  height: 95%;
  margin: 2%;
}

.points {
  font-size: 30px;
}

.num_rating {
  font-size: 10px;
}

.btn_price {
  margin: 35%;
  min-width: 70%;
  max-width: 85%;
  height: 20%;
  background-color: #7b6b42;
  border: none;
  color: white;
  padding: 10%;
}

.wine-info {
  margin: 2%;
  padding: 6%;
}

.rating {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.img-rating img {
  max-width: 60%;
  max-height: 160%;
} */
