@import url('../utilities/vars.css');
@import url('../utilities/utilities.css');

.top-section {
    background-color: var(--light-brown);
}
.top-section-tittle {
    font-family: var(--primary-font);
    font-weight: var(--regular);
    margin-bottom: 2.5rem;
    line-height: 1.2;
}


.icons-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icons-text {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--secondary-font);
    font-weight: var(--book);
    line-height: 1.2;
}

.icon-container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
}

.icon-container i {
    font-size: 24px;
}

.footer {
    background-color: var(--black);
    padding: 3.75rem 1.25rem;
    color: var(--white);

}
.footer-tittle {
    font-family: var(--primary-font);
    font-weight: var(--regular);
    line-height: 1.2;
    font-size: var(--sub-heading);
    color: var(--white);
}

.groups-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.group {
    margin-top: 1.9rem;
    font-family: var(--secondary-font);
    letter-spacing: 1px;
}

.group-tittle {
    font-family: var(--primary-font);
    font-size: 18px;
}

.links a {
    color: var(--white);
}

.links {
    margin-bottom: 0.625rem;
}

.group-tittle {
    margin-bottom: 1.25rem;
}

@media only screen and (min-width: 768px) {
    .top-section-tittle {
        font-size: 30px;
        justify-content: center;
    }
    .icons-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .footer{
        display: flex;
        justify-content: space-between;
    }
    .groups-container {
        grid-template-columns: 1fr 1fr 1fr; /* repeat(3, 1fr) */
        gap: 30px;
    }
    .icon-container i {
        font-size: 28px;
    }
    .group-tittle {
        font-size: 18px;
    }
    
}

@media only screen and (min-width: 1280px) {
    .group {
        font-weight: var(--book);
    }
    .group-tittle {
        font-size: var(--caption-card);
    }
    .icons-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .top-section-tittle {
        font-size: var(--sub-heading);
        justify-content: center;
    }
    .group-links {
        font-size: var(--body);
    }
    .icon-container i {
        font-size: 28px;
    }
}