<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { title: 'Login to your account' }) %>
        <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
    <%- include('../partials/navbar') %>

        <main class="main">
            <div class="main__form-container">
                <div class="form__heading">
                    <h1>Welcome Back!</h1>
                </div>
                <div class="form__inputs-container">
                    <form class="form-inputs" action="">
                        <div class="email input">
                            <label for="">Email</label>
                            <input placeholder="johndoe@gmail.com" type="email">
                        </div>
                        <div class="password input">
                            <label for="">Paswword</label>
                            <input placeholder="**********" type="password">
                        </div>
                        <div class="create-account-button input">
                            <button type="submit">SIGN IN</button>
                        </div>
                    </form>
                </div>
                <div class="alternative-login">
                    <a href="/register">New to Wine-not? Create your account!</a>
                </div>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
        <script src="/javascripts/utilities.js"></script>
</body>

</html>