<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { title: 'Login to your account' }) %>
        <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
    <%- include('../partials/navbar') %>

        <main class="main">
            <div class="main__form-container">
                <div class="form__heading">
                    <h1>Welcome Back!</h1>
                </div>
                <!-- <% //if (typeof errors !== 'undefined') { %>
                    <div class="form__error">
                        <ul>
                            <% //errors.forEach(function(error) { %>
                                <li>//<%//= error %></li>
                            <% //}) %>
                        </ul>
                    </div> -->
                <div class="form__inputs-container">
                    <form class="form-inputs" action="/users/login" method="POST">
                        <div class="email input">
                            <label for="email">Email</label>
                            <input placeholder="johndoe@gmail.com" type="email" name="email">
                        </div>
                        <div class="password input">
                            <label for="password">Paswword</label>
                            <input placeholder="**********" type="password" name="password">
                        </div>
                        <div class="">
                            <input type="checkbox" name="rememberMe" id="rememberMe" class="form__checkbox">
                            <label for="rememberMe" class="form__checkbox__label">Keep me logged in</label>
                        </div>
                        <div class="create-account-button input">
                            <button type="submit">SIGN IN</button>
                        </div>
                    </form>
                </div>
                <div class="alternative-login">
                    <a href="/users/register">New to Wine-not? Create your account!</a>
                </div>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
        <script src="/javascripts/utilities.js"></script>
</body>

</html>