<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Document</title>
        <link rel="stylesheet" href="/styles/register.css">
</head>

<body>
    <div class="section--nav">
        <%- include('../partials/navbar') %>
    </div>

    <section class="section--padding">
        <form action="#" method="post" class="form" id="form">
            <h1 class="form__title">Create your account</h1>
            <div class="form__group">
                <label for="name" class="form__label">Name</label>
                <input type="text" name="name" id="name" class="form__input">
                <small class="form__message"></small>
            </div>

            <div class="form__group">
                <label for="surname" class="form__label">Surname</label>
                <input type="text" name="surname" id="surname" class="form__input">
                <small class="form__message"></small>
            </div>

            <div class="form__group">
                <label for="email" class="form__label">Email</label>
                <input type="email" name="email" id="email" class="form__input">
                <small class="form__message"></small>
            </div>

            <div class="form__group">
                <label for="password" class="form__label">Password</label>
                <input type="password" name="password" id="password" class="form__input">
                <small class="form__message"></small>
            </div>

            <div class="form__group">
                <label for="passwordRepeat" class="form__label">Repeat your password</label>
                <input type="password" name="passwordRepeat" id="passwordRepeat" class="form__input">
                <small class="form__message"></small>
            </div>

            <div class="form__group">
                <label for="birthdate" class="form__label">Birth date</label>
                <input type="date" name="birthdate" id="birthdate" class="form__input">
                <small class="form__message"></small>
            </div>

            <div class="form__group form__group--check">
                <input type="checkbox" name="terms" id="terms" class="form__checkbox">
                <label for="terms" class="form__checkbox__label">Please confirm you agree with the <a href="#"
                        target="_blank" rel="noopener noreferrer">Terms & Conditions</a></label>
                <small class="form__message"></small>
            </div>

            <div class="form__group">
                <button type="submit" class="btn btn--primary">Register</button>
                <a href="/login" class="form__link--login">Already have an account? Log in here</a>
            </div>
        </form>
    </section>

    <%- include('../partials/footer') %>

        <script src="/javascripts/utilities.js"></script>
        <script src="/javascripts/formValidation.js"></script>
</body>

</html>